# Documentatio with Jekyll
/doc/.bundle/
/doc/.sass-cache/
/doc/.jekyll-metadata
/doc/_site/

# Bochs
/src/**/*/bochsout.txt
/src/**/*/bochsrc.txt

# Build directory
/src/threads/build/
/src/userprog/build/
/src/vm/build/
